[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./django_rest_postgres/config/*,
       ./django_rest_postgres/manage.py,
       ./django_rest_postgres/wsgi.py,
       *__init__*
